.home-container {
  width: 100%;
  height: calc(100vh - 80px);
  background-image: url("../../assets/bg_space4.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;

  .home-menu {
    display: flex;
    justify-content: center;
    padding: 40px;
    padding-bottom: 100px;
    text-align: center;
    width: 60%;
    margin: auto;
    background-color: rgba($color: #424242, $alpha: 0.85);
    border-radius: 7px;

    .home-text-content {
      font-family: "Titillium Web", sans-serif;
      color: white;

      h1 {
        font-size: 40px;
      }

      p {
        font-size: 20px;
      }

      .home-links {
        width: 100%;
      }
      .home-nav-link {
        color: yellow;
        margin: 10px;
        font-size: 30px;
      }
    }
  }
}
