.home-container {
  width: 100%;
  height: calc(100vh - 80px);
  background-image: url("../../assets/bg_space4.jpeg");
  background-repeat: no-repeat;
  background-size: cover;

  .home-menu {
    display: flex;
    justify-content: center;
    padding: 40px;
    padding-bottom: 100px;
    text-align: center;
    width: 60%;
    margin: auto;
    border-radius: 7px;

    .home-text-content {
      margin-top: 15%;
      font-family: "Titillium Web", sans-serif;
      color: white;

      h1 {
        font-size: 40px;
      }

      p {
        font-size: 40px;
      }

      .home-links {
        width: 100%;
      }
      .home-nav-link {
        color: #f0ff80;
        margin: 40px;
        font-size: 60px;
        text-decoration: none;

        &:hover {
          color: yellow;
        }
      }
    }
  }
}
