.header-nav-container {
  width: 100%;
  background-color: #303030;
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  -webkit-box-shadow: 0px 4px 19px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 19px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 19px -4px rgba(0, 0, 0, 0.75);

  .header-nav-link {
    all: unset;
    margin-top: 30px;
    cursor: pointer;
    font-weight: 600;
    color: white;

    &:hover {
      color: #fcba03;
    }

    &.header-nav-link-active {
      color: yellow;
    }
  }
}
