.launch-details-container {
  width: 100%;
  margin-top: 20px;
  background-color: #5c5757;
  box-sizing: border-box;
  padding: 15px 25px;
  display: flex;
  -webkit-box-shadow: -1px 0px 48px -7px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: -1px 0px 48px -7px rgba(0, 0, 0, 0.34);
  box-shadow: -1px 0px 48px -7px rgba(0, 0, 0, 0.34);

  .horizontal-divider {
    width: 2px;
    background-color: white;
    margin: 0 20px;
  }
}
